body {
    font-family: Arial;
    background: white;
    margin: 0;
padding: 0;
}

h1 {
    text-align: center;
    color:greenyellow;
    padding: 15px;
    margin: 20px 0;
}

 form {
   margin:20px auto;
   width: 300px;
    background:lightgrey;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    padding: 10px;
    width: 250px;
    margin-bottom: 10px;
    border: 1px rgb(71, 32, 32);
border-radius: 5px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}


.password-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.password-box input {
    width: 210px;
}

.password-box button {
    padding: 10px;
    width: 45px;
}








